# All
*.vscode*

*tests.out

cpp/**/build

csharp/**/bin
csharp/**/obj
csharp/**/*.csproj

java/**/.gradle
java/**/build
java/**/.gradle/

javascript/**/node_modules

kotlin/**/build
kotlin/**/gradle*
kotlin/**/.idea
kotlin/**/local.properties
kotlin/**/.keep

haskell/**/.stack-work
haskell/**/*.cabal

**/*.solution.json

*/**/__pycache__
