# All
*.vscode*

# C
*tests.out

# C++
cpp/**/build

# C#
csharp/**/bin
csharp/**/obj
csharp/**/*.csproj

# Java
java/**/.gradle
java/**/build
.gradle/

# Kotlin
kotlin/**/build
kotlin/**/gradle*
kotlin/**/.idea
kotlin/**/local.properties
kotlin/**/.keep

# Haskall
.stack-work

#
**/*.solution.json
