# All
*.vscode*

# C++
cpp/*/build
cpp/*/CMakeLists.txt

# C#
csharp/*/bin
csharp/*/obj
csharp/*/*.csproj

# Java
java/*/.gradle
java/*/build*
.gradle/

# Kotlin
kotlin/*/build
kotlin/*/gradle*
kotlin/*/.idea
kotlin/*/local.properties

